<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<style>
* {
	background-color: black;
	color: white;
	font-size: small;
}
</style>
<script>
</script>
<title></title>
</head>
<body>
	<table>
		<tbody th:each="record : ${page.rows}">
			<tr>
				<td th:text="${record.dateTime}"></td>
			</tr>
			<tr>
				<td>COD</td>
				<td th:text="${record.val_316}"></td>
			</tr>
			<tr>
				<td>氨氮</td>
				<td th:text="${record.val_311}"></td>
			</tr>
			<tr>
				<td>累计流量</td>
				<td th:text="${record.val_495}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>