<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<style>
* {
	background-color: black;
	color: white;
	font-size: small;
}
</style>
<script>
</script>
<title></title>
</head>
<body>
	<table>
		<!-- 		<thead> -->
		<!-- 			<tr> -->
		<!-- 				<td>监测时间&nbsp;</td> -->
		<!-- 				<td>SO2</td> -->
		<!-- 				<td>NOx</td> -->
		<!-- 				<td>烟尘</td> -->
		<!-- 				<td>O2</td> -->
		<!-- 				<td>烟气温度</td> -->
		<!-- 				<td>流速</td> -->
		<!-- 				<td>废气排放量</td> -->
		<!-- 			</tr> -->
		<!-- 		</thead> -->
		<tbody th:each="record : ${page.rows}">
			<tr>
				<td th:text="${record.dateTime}"></td>
			</tr>
			<tr>
				<td>二氧化硫</td>
				<td th:text="${record.cvt_201}"></td>
			</tr>
			<tr>
				<td>氮氧化物</td>
				<td th:text="${record.cvt_203}"></td>
			</tr>
			<tr>
				<td>烟尘</td>
				<td th:text="${record.cvt_207}"></td>
			</tr>
			<tr>
				<td>氧气</td>
				<td th:text="${record.cvt_209}"></td>
			</tr>
			<tr>
				<td>总排放量</td>
				<td th:text="${record.cvt_210}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>