<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util.xsd 
						http://www.springframework.org/schema/task 
						http://www.springframework.org/schema/task/spring-task.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/websocket
						http://www.springframework.org/schema/websocket/spring-websocket.xsd
						http://www.springframework.org/schema/jee 
						http://www.springframework.org/schema/jee/spring-jee.xsd
						http://cxf.apache.org/jaxws 
						http://cxf.apache.org/schemas/jaxws.xsd">

	<context:component-scan base-package="com.company.project.service" />
	<!-- 引入jdbc配置文件 -->
	
<!-- 	<context:property-placeholder location="classpath:conf/jdbc.properties" /> -->
	<bean id="fooBarService" class="com.company.project.service.impl.FooBarServiceImpl" init-method="initMethod">
		<property name="txtUserName" value="jnhb" />
		<property name="pwd" value="1" />
		<property name="host" value="60.213.30.214:8805" />
		<property name="sessionID" value="stindzmvqhcw1o55bc115t55" />
<!-- 		<property name="method" value="QueryRealTimeData" /> -->
		<property name="method" value="QueryHistoryReport" />
		<property name="city" value="0" />
		<property name="levels" value="1,2,16,32,64,128,256" />
		<property name="codes" value="201,203,205,207,209,210,211,221,311,316,494,525,545,546" />
<!-- 		<property name="codes" value="201,203,205,207,210,221" /> -->
		<property name="multiCode" value="201,203,205,207,210,221" />
<!-- 		<property name="multiCode" value="201,203,207,209,210,211,525" /> -->
<!-- 		<property name="codes" value="316,311,494,495,313,466" /> -->
<!-- 		<property name="multiCode" value="316,311,313,466,494" /> -->
		<property name="page" value="1" />
		<property name="rows" value="1" />
		<property name="showUpload" value="0" />
		<property name="showValidate" value="1" />
		<property name="fault" value="0" />
		<property name="start" value="2018-04-09 00:00:00" />
		<property name="end" value="2129-03-09 23:59:59" />
		<property name="index" value="0" /> <!-- 分钟，小时，日，月，年 01234 -->
		<property name="sort" value="0" /> <!-- 倒序：0：选中，1：不选中 -->
		<property name="subid" value="13332" />
		<property name="subname" value="" />
		<property name="tmpJpg" value="D:\Test\CheckCodeTest\1.jpg" />
		
<!-- 		<property name="host" value="58.57.43.244:8404" /> -->
	</bean>

</beans>